doctype HTML
html
  head
    title 云码 - Shomop
    link(rel='stylesheet', href='./css/cloudcode.css')

  body
    #content
      .panel.panel-default#cloud-code-block
        .cloud-code-head
          .ask-btn.ask-btn-head
      .out-block
        .cloud-code-body
          .head-content
            .content-top
              ul.head-ul-style
                li(style={margin: '13px 0 126px 0'})
                li(style={margin: '0 0 292px 0'})
                li
              ul.head-ul
                li
                  span
                    p 天猫2.0时代，全淘宝线上新增买家量持续收窄，获新客太难！直通车难开、没有其他新客渠道、老客日渐流失！焦虑！
                li
                  span
                    p 夏猫×阿里 重磅推出云码服务！
                    p 线下新零售场景获客，取之不尽的海量新客源。
                    p 打通阿里大数据能力，可以定向精准筛选投放。
                    p 打通天猫会员，粉丝自动加入店铺会员，持续运营二次激活。
                    p 打通“夏猫×阿里平台版”，全域营销能力：短信/手淘信息流推送/优惠券/新人独享礼/新人独享券/积分。
                li
                  span
                    p 普通会员3元/个，精准会员5元/个，欢迎咨询！
                    p 夏猫资深运营专家，全程陪同一对一服务，商家主要提供投放素材和优惠权益，其他事项我们包了（不包括后续的长期运营，后续的长期运营我们可以作为顾问的角色一起聊天探讨）。
            .content-bot


      .out-block-case
        .cloud-code-case
          .case-title
          .case-content-box
            .case-box
              ul.case-ul
                li
                  img(src="/images/cloud-code/case1.png")
                li
                  img(src="/images/cloud-code/case2.png")
                li
                  img(src="/images/cloud-code/case3.png")
                li
                  img(src="/images/cloud-code/case4.png")
      .out-block-discount
        .cloud-code-discount
          .discount-box
            .discount-box-title
            .discount-box-boder
              .discount-title 预充值：¥
                i 5000
                | .00 以上
              .discount-box-bot
                .discount-type
                  .discount-type-accurate 精准会员：¥ 5.00（热卖）
                  .discount-type-normal 普通会员：¥ 3.00
                .discount-gave 免费赠送：
                .discount-plan 夏猫定制方案+效果分析+夏猫CEM独家折扣+夏猫CRM免费试用+客粉宝免费体验
                .discount-tips 请联系夏猫获取最新报价，夏猫对价格拥有最终解释权。预充值金额，可分多次投放使用。
          .ask-btn.ask-btn-discount

    script(src='/js/jquery.js')
    script(src='/js/cloudcode.js')