// 2019双十一产品聚合页 - 预热和售后
doctype HTML
html
  head
    title 双十一预热 - Shomop
    link(rel='stylesheet', href='/css/common.css')
    link(rel='stylesheet', href='/css/iconfont/iconfont.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/right-menu.css')
    link(rel='stylesheet', href='/css/double-eleven-page.css')

  body
    #ajax-info
      i.icon.iconfont
      span
      button(type="button",class="close close-ajax-info") &times;
    #content
      .step.step-1
        img(src='/images/2019-double-eleven/hot-afterSale/01.png', alt='')
        .stage-line.before.flex
          img(src='/images/2019-double-eleven/hot-afterSale/btn-1-check.png', alt='')
          img(src='/images/2019-double-eleven/hot-afterSale/btn-2-uncheck.png', alt='')
        .stage-line.after
          img(src='/images/2019-double-eleven/hot-afterSale/btn-1-uncheck.png', alt='')
          img(src='/images/2019-double-eleven/hot-afterSale/btn-2-check.png', alt='')

      .step.step-2
        img(src='/images/2019-double-eleven/hot-afterSale/02.png', alt='', usemap="#step2")
        map(name="step2", id="step2")
          //- 淘宝群运营
          area(shape="rect", coords="578, 168, 727, 220", style='cursor:pointer', href="", target="_blank")
          //- 精细化人群细分
          area(shape="rect", coords="825, 570, 980, 624", style='cursor:pointer', href="", target="_blank")
          //- 定向页面引导激活
          area(shape="rect", coords="1018, 845, 1170, 906", style='cursor:pointer', href="", target="_blank")
      .step.step-3
        img(src='/images/2019-double-eleven/hot-afterSale/03.png', alt='', usemap="#step3")
        map(name="step3", id="step3")
          //- 订单催付
          area(shape="rect", coords="493, 256, 646, 314", style='cursor:pointer', href="", target="_blank")
          //- 店铺好感人群营销
          area(shape="rect", coords="446, 530, 600, 590", style='cursor:pointer', href="", target="_blank")
          //- 订单关闭人群二次营销
          area(shape="rect", coords="1003, 740, 1162, 797", style='cursor:pointer', href="", target="_blank")
      .step.step-4
        img(src='/images/2019-double-eleven/hot-afterSale/04.png', alt='', usemap="#step4")
        map(name="step4", id="step4")
          //- 订单尾款冲刺
          area(shape="rect", coords="412, 235, 569, 290", style='cursor:pointer', href="", target="_blank")
          //- 开启订单关怀
          area(shape="rect", coords="533, 535, 688, 592", style='cursor:pointer', href="", target="_blank")
      .step.step-5
        img(src='/images/2019-double-eleven/hot-afterSale/05.png', alt='', usemap="#step5")
        map(name="step5", id="step5")
          //- 优惠券分发
          area(shape="rect", coords="428, 141, 588, 197", style='cursor:pointer', href="", target="_blank")
          //- 宝贝收藏加购
          area(shape="rect", coords="1035, 292, 1184, 350", style='cursor:pointer', href="", target="_blank")
          //- 宝贝收藏加购-咨询
          area(shape="rect", coords="982, 377, 1143, 413", style='cursor:pointer', href="", target="_blank")
          //- 淘宝直播预告
          area(shape="rect", coords="540, 550, 688, 610", style='cursor:pointer', href="", target="_blank")
      .step.step-6
        img(src='/images/2019-double-eleven/hot-afterSale/06.png', alt='', usemap="#step6")
        map(name="step6", id="step6")
          //- 售后客户沉淀
          area(shape="rect", coords="412, 936, 567, 1000", style='cursor:pointer', href="", target="_blank")
          //- 售后客户沉淀-咨询
          area(shape="rect", coords="368, 1020, 562, 1062", style='cursor:pointer', href="", target="_blank")
          //- 新客二次转化营销
          area(shape="rect", coords="1022, 1110, 1178, 1170", style='cursor:pointer', href="", target="_blank")
      .step.step-7
        img(src='/images/2019-double-eleven/hot-afterSale/07.png', alt='', usemap="#step7")
        map(name="step7", id="step7")
          //- 物流广告
          area(shape="rect", coords="506, 335, 658, 397", style='cursor:pointer', href="", target="_blank")
      .step.step-8
        img(src='/images/2019-double-eleven/hot-afterSale/08.png', alt='', usemap="#step8")
        map(name="step8", id="step8")
          //- 云码
          area(shape="rect", coords="0, 380, 377, 445", style='cursor:pointer', href="", target="_blank")
          //- 0元入会
          area(shape="rect", coords="410, 385, 790, 445", style='cursor:pointer', href="", target="_blank")
          //- 客粉宝
          area(shape="rect", coords="825, 380, 1200, 445", style='cursor:pointer', href="", target="_blank")

    include right-menu
    script(src='/js/thirdparty/jquery-3.3.1.min.js')
    script(src='/js/thirdparty/bootstrap.min.js')
    script(src='/js/compressed/double-eleven-page.js')