// 2019双十一产品聚合页 - 蓄水期
doctype HTML
html
  head
    title 双十一蓄水期 - Shomop
    link(rel='stylesheet', href='./css/common.css')
    link(rel='stylesheet', href='./css/iconfont/iconfont.css')
    link(rel='stylesheet', href='./css/bootstrap.min.css')
    link(rel='stylesheet', href='./css/right-menu.css')
    link(rel='stylesheet', href='./css/double-eleven-storage-period.css')

  body
    #ajax-info
      i.icon.iconfont
      span
      button(type="button",class="close close-ajax-info") &times;
    #content
      .step.step-1
        img(src='/images/2019-double-eleven/storage-period/01.png', alt='')
      .step.step-2
        img(src='/images/2019-double-eleven/storage-period/02.png', alt='', usemap="#step2")
        map(name="step2", id="step2")
          //- 云码
          area(shape="rect", coords="760, 300, 930, 370", style='cursor:pointer', href="http://shomop.com/cloudCode", target="_blank")
          //- 客户拉新入会
          area(shape="rect", coords="430, 604, 587, 668", style='cursor:pointer', href="https://ecrm.taobao.com/jxt/jxtHomepage.htm#//bvip.tmall.com/crm-settings/officialVipLevel.htm", target="_blank")
          //- 微淘粉丝互动
          area(shape="rect", coords="400, 697, 540, 724", style='cursor:pointer', href="https://we.taobao.com/creation/new?spm=a211vu.server-web-home.0.d101.64f02d58tLLfrT&scene=waitou", target="_blank")
          // 客户拉新入会 咨询
          area(shape="rect", coords="1016, 780, 1190, 840", style='cursor:pointer', href="https://we.taobao.com/creation/new?spm=a211vu.server-web-home.0.d101.64f02d58tLLfrT&scene=waitou", target="_blank")
      .step.step-3
        img(src='/images/2019-double-eleven/storage-period/03.png', alt='', usemap="#step3")
        map(name="step3", id="step3")
          //- 直通车定向推广
          area(shape="rect", coords="484, 110, 646, 177", style='cursor:pointer', href="https://subway.simba.taobao.com/#!/manage/campaign/index", target="_blank")
          //- 产品评价优化
          area(shape="rect", coords="397, 697, 557, 757", style='cursor:pointer', href="/v3/autoReminder125", target="_blank")
          //- 产品评价优化-咨询
          area(shape="rect", coords="344, 785, 508, 817", style='cursor:pointer', href="http://kefenbao.com/", target="_blank")
          //- 产品销量优化
          area(shape="rect", coords="1018, 627, 1182, 683", style='cursor:pointer', href="http://kefenbao.com/", target="_blank")
          //- 产品销量优化-咨询
          area(shape="rect", coords="975, 710, 1144, 740", style='cursor:pointer', href="http://scrm.kefenbao.com/view/interaction", target="_blank")
      .step.step-4
        img(src='/images/2019-double-eleven/storage-period/04.png', alt='', usemap="#step4")
        map(name="step4", id="step4")
          //- 人群标签优化
          area(shape="rect", coords="960, 117, 1133, 180", style='cursor:pointer', href="/v3/memberMarketing", target="_blank")
      .step.step-5
        img(src='/images/2019-double-eleven/storage-period/05.png', alt='', usemap="#step5")
        map(name="step5", id="step5")
          //- 沉默客户激活
          area(shape="rect", coords="398, 153, 557, 215", style='cursor:pointer', href="v3/memberMarketing", target="_blank")
          //- 未购会员召回
          area(shape="rect", coords="1027, 198, 1187, 258", style='cursor:pointer', href="https://fuwu.taobao.com/ser/detail.htm?spm=a1z13.8114210.1234-fwlb.13.6dbe5acaEwMnzt&service_code=FW_GOODS-1000998284&tracelog=search&from_key=%E5%A4%8F%E7%8C%AB", target="_blank")
          //- 物流免费广告
          area(shape="rect", coords="605, 711, 768, 777", style='cursor:pointer', href="v3/reminderLogistics", target="_blank")
      .step.step-6
        img(src='/images/2019-double-eleven/storage-period/06.png', alt='', usemap="#step6")
        map(name="step6", id="step6")
          //- 优惠券分发
          area(shape="rect", coords="404, 120, 562, 186", style='cursor:pointer', href="/v3/couponMarketing", target="_blank")
          //- 宝贝收藏加购
          area(shape="rect", coords="1012, 480, 1177, 542", style='cursor:pointer', href="https://fuwu.taobao.com/ser/detail.htm?spm=a1z13.8114210.1234-fwlb.13.6dbe5acaEwMnzt&service_code=FW_GOODS-1000998284&tracelog=search&from_key=%E5%A4%8F%E7%8C%AB", target="_blank")
          //- 宝贝收藏加购-咨询
          area(shape="rect", coords="975, 565, 1147, 600", style='cursor:pointer', href="http://kefenbao.com/", target="_blank")
          //- 淘宝直播预告
          area(shape="rect", coords="418, 654, 584, 718", style='cursor:pointer', href="/v3/memberMarketing", target="_blank")
      .step.step-7
        img(src='/images/2019-double-eleven/storage-period/07.png', alt='', usemap="#step7")
        map(name="step7", id="step7")
          //- 云码
          area(shape="rect", coords="0, 354, 377, 412", style='cursor:pointer', href="http://shomop.com/cloudCode", target="_blank")
          //- 0元入会
          area(shape="rect", coords="412, 354, 790, 412", style='cursor:pointer', href="https://ecrm.taobao.com/jxt/jxtHomepage.htm#//bvip.tmall.com/crm-settings/officialVipLevel.htm", target="_blank")
          //- 客粉宝
          area(shape="rect", coords="827, 354, 1200, 412", style='cursor:pointer', href="http://kefenbao.com/", target="_blank")
      .step.step-8
        img(src='/images/2019-double-eleven/storage-period/08.png', alt='', usemap="#step8")

    include right-menu
    script(src='/js/thirdparty/jquery-3.3.1.min.js')
    script(src='/js/thirdparty/bootstrap.min.js')
    script(src='/js/compressed/double-eleven-storage-period.js')