doctype HTML
html
  head
    title 夏猫官网 - Shomop
    meta(name="keywords", content="杭州夏猫科技有限公司、夏猫、夏猫科技、杭州夏猫、shomop、CRM、短信营销、淘宝CRM")
    meta(name="description", content="夏猫是一个年轻、快乐、彼此尊重、鼓励每个人发挥创造力、心怀梦想、向往自由的团队，致力于为电商企业提供体验更优、效率更高的产品。")
    meta(property="qc:admins", content="301102511657063757")
    link(href="/images/shomop-logo-black.png" rel="Shortcut Icon")
    link(rel='stylesheet', href='/css/home-page.css')
    <!--[if lt IE 9]>
    <script src="js/css3-mediaqueries.js"></script>
    <![endif]-->
  body
    .container
      <!-- 夏猫会员宝 -->
      .panel.panel-1
        .navigation
          a(class="shomop-logo", href="/")
            img#img-logo(src="/images/newHomePage/shomop-logo_2016-6-12.png")
            img#img-shomop-name(src="/images/newHomePage/shomop-name.png")
          span.link-span
            a(href="#team-introduction")
              img(src="/images/newHomePage/team-introduce.png")
            span |
            a(href="#join-us")
              img(src="/images/newHomePage/join-us.png")
        .carousel
          ul
            li.slide-1.slide.active
              img.img-middle.img-middle-left-1(src="/images/newHomePage/background/page1-middle-bless.png")
              a.img-learn-more.img-middle-left-1(href="https://fuwu.taobao.com/ser/detail.html?&service_code=FW_GOODS-1865656&tracelog=teamgw" target="_blank")

              .top-bottom
                img.top-icon.top-icon-1(src="/images/newHomePage/top-icon/page1-filter-icon.png")
                img.top-icon-words.top-icon-words-1(src="/images/newHomePage/top-icon/page1-filter.png")

                img.top-icon.top-icon-2(src="/images/newHomePage/top-icon/page1-group-icon.png")
                img.top-icon-words.top-icon-words-2(src="/images/newHomePage/top-icon/page1-group.png")

                img.top-icon.top-icon-3(src="/images/newHomePage/top-icon/page1-send-icon.png")
                img.top-icon-words.top-icon-words-3(src="/images/newHomePage/top-icon/page1-send.png")

            li.slide-2.slide
              img.img-middle.img-middle-right-2(src="/images/newHomePage/background/page2-middle-heart.png")
              a.img-learn-more.learn-more-right-2(href="https://fuwu.taobao.com/ser/detail.html?&service_code=FW_GOODS-1865656&tracelog=teamgw" target="_blank")

              .top-bottom
                img.top-icon.top-icon-1(src="/images/newHomePage/top-icon/page2-sendMsg-icon.png")
                img.top-icon-words.top-icon-words-1(src="/images/newHomePage/top-icon/page2-sendMsg.png")

                img.top-icon.top-icon-2(src="/images/newHomePage/top-icon/page2-arrivedMsg-icon.png")
                img.top-icon-words.top-icon-words-2(src="/images/newHomePage/top-icon/page2-arrivedMsg.png")

                img.top-icon.top-icon-3(src="/images/newHomePage/top-icon/page2-receive-icon.png")
                img.top-icon-words.top-icon-words-3(src="/images/newHomePage/top-icon/page2-receive.png")

            li.slide-3.slide
              img.img-middle.img-middle-left-3(src="/images/newHomePage/background/page3-middle-promotion.png")
              a.img-learn-more.img-middle-left-3(href="https://fuwu.taobao.com/ser/detail.html?&service_code=FW_GOODS-1865656&tracelog=teamgw" target="_blank")

              .top-bottom
                img.top-icon.top-icon-1(src="/images/newHomePage/top-icon/page3-dataAnalysis-icon.png")
                img.top-icon-words.top-icon-words-1(src="/images/newHomePage/top-icon/page3-dataAnalysis.png")

                img.top-icon.top-icon-2(src="/images/newHomePage/top-icon/page3-activity-icon.png")
                img.top-icon-words.top-icon-words-2(src="/images/newHomePage/top-icon/page3-activity.png")

                img.top-icon.top-icon-3(src="/images/newHomePage/top-icon/page3-marketingTask-icon.png")
                img.top-icon-words.top-icon-words-3(src="/images/newHomePage/top-icon/page3-marketingTask.png")

            li.slide-4.slide
              img.img-middle.img-middle-right-4(src="/images/newHomePage/background/page4-middle-boss.png")
              a.img-learn-more.learn-more-right-4(href="https://fuwu.taobao.com/ser/detail.html?&service_code=FW_GOODS-1865656&tracelog=teamgw" target="_blank")

              .top-bottom
                img.top-icon.top-icon-1(src="/images/newHomePage/top-icon/page4-template-icon.png")
                img.top-icon-words.top-icon-words-1(src="/images/newHomePage/top-icon/page4-template.png")

                img.top-icon.top-icon-2(src="/images/newHomePage/top-icon/page4-channel-icon.png")
                img.top-icon-words.top-icon-words-2(src="/images/newHomePage/top-icon/page4-channel.png")

                img.top-icon.top-icon-3(src="/images/newHomePage/top-icon/page4-arrivalRate-icon.png")
                img.top-icon-words.top-icon-words-3(src="/images/newHomePage/top-icon/page4-arrivalRate.png")
      <!-- 团队介绍 -->
      .panel.panel-2#team-introduction
        .shomop-team
          #shomop-ceo
            img#img-shomop-ceo(src="/images/newHomePage/shomop-ceo.jpg")
            img#img-CEO(src="/images/newHomePage/CEO.png")
          #shomop-team
            img#img-quote-left.img-quote(src="../images/newHomePage/quote-left.png")
            img#img-shomop-introduce(src="../images/newHomePage/shomop-introduce.png")
            img#img-quote-right.img-quote(src="../images/newHomePage/quote-right.png")
      <!-- 加入我们 -->
      .panel.panel-3#join-us
        img.join.img-absolute-center(src="/images/newHomePage/joinus.png")
      <!-- 开放职位 -->
      .panel.panel-4
        img.panel4-title-img(src="../images/newHomePage/openPosition/open-position.png")
        .position-div
          .open-position#position-1.active
            img.position-img.position-img-1(src="/images/newHomePage/openPosition/img-JAVA.png")
            img.position-img.position-img-2(src="/images/newHomePage/openPosition/img-JAVA2.png")
            img.position-title.active(src="/images/newHomePage/openPosition/JAVA1.png")
          .open-position#position-2
            img.position-img.position-img-1(src="/images/newHomePage/openPosition/img-Web.png")
            img.position-img.position-img-2(src="/images/newHomePage/openPosition/img-Web2.png")
            img.position-title(src="/images/newHomePage/openPosition/Web.png")
          .open-position#position-3
            img.position-img.position-img-1(src="/images/newHomePage/openPosition/img-UI.png")
            img.position-img.position-img-2(src="/images/newHomePage/openPosition/img-UI2.png")
            img.position-title(src="/images/newHomePage/openPosition/UI.png")
          .open-position#position-4
            img.position-img.position-img-1(src="/images/newHomePage/openPosition/img-PM.png")
            img.position-img.position-img-2(src="/images/newHomePage/openPosition/img-PM2.png")
            img.position-title(src="/images/newHomePage/openPosition/PM.png")
          .open-position#position-5
            img.position-img.position-img-1(src="/images/newHomePage/openPosition/img-seller.png")
            img.position-img.position-img-2(src="/images/newHomePage/openPosition/img-seller2.png")
            img.img-hot(src="/images/newHomePage/openPosition/hot.png")
            img.position-title(src="/images/newHomePage/openPosition/seller.png")
          .open-position#position-6
            img.position-img.position-img-1(src="/images/newHomePage/openPosition/img-specialist.png")
            img.position-img.position-img-2(src="/images/newHomePage/openPosition/img-specialist2.png")
            img.position-title(src="/images/newHomePage/openPosition/specialist.png")
          .open-position#position-7
            img.position-img.position-img-1(src="/images/newHomePage/openPosition/img-customerService.png")
            img.position-img.position-img-2(src="/images/newHomePage/openPosition/img-customerService2.png")
            img.position-title(src="/images/newHomePage/openPosition/customer-service.png")
        .position-detail
          img.img-detail.active(src="/images/newHomePage/openPosition/detail-JAVA.png")
          img.img-detail(src="/images/newHomePage/openPosition/detail-Web.png")
          img.img-detail(src="/images/newHomePage/openPosition/detail-UI.png")
          img.img-detail(src="/images/newHomePage/openPosition/detail-PM.png")
          img.img-detail(src="/images/newHomePage/openPosition/detail-seller.png")
          img.img-detail(src="/images/newHomePage/openPosition/detail-specialist.png")
          img.img-detail(src="/images/newHomePage/openPosition/detail-customer-service.png")
      <!-- 福利待遇 -->
      .panel.panel-5
        .panel5-title
          img.benefits(src="/images/newHomePage/benefits/benefit.png")
        .benefits-detail
          .benefit-title.benefit-1
            img.benefit-icon(src="/images/newHomePage/benefits/time.png")
            img.benefit-introduce(src="/images/newHomePage/benefits/1.png")

          .benefit-title.benefit-2
            img.benefit-icon(src="/images/newHomePage/benefits/up.png")
            img.benefit-introduce(src="/images/newHomePage/benefits/2.png")

          .benefit-title.benefit-3
            img.benefit-icon(src="/images/newHomePage/benefits/benefit-icon.png")
            img.benefit-introduce(src="/images/newHomePage/benefits/3.png")

          .benefit-title.benefit-4
            img.benefit-icon(src="/images/newHomePage/benefits/gift.png")
            img.benefit-introduce(src="/images/newHomePage/benefits/4.png")

         .bottom-shomop
           img.bottom-logo(src="/images/newHomePage/bottom-logo.png")
           img.hangzhou(src="/images/newHomePage/benefits/hangzhou.png")
           a.hr-mail(href="mailto:hr@shomop.com")
             img.mail-hr(src="/images/newHomePage/benefits/hr.png")
           p 浙ICP备13002501号

    script(src='/js/jquery.js')
    script(src='/js/unslider.min.js')
    script(src='/js/home-page.js')

    script.
      var carouselLiHeight = window.innerHeight > 700 ? window.innerHeight : 700;
      $('.panel').css('height', carouselLiHeight + 'px');
      $('.carousel li.slide').css('height', carouselLiHeight + 'px');
      $('.carousel').unslider({
        arrows: true,
        fluid: false,
        keys: true,
        dots: true,
        delay: 10000,
        prev: '<img class="arrow prev" src="/images/newHomePage/top-icon/pre-left.png"/>',
        next: '<img class="arrow next"  src="/images/newHomePage/top-icon/next-right.png"/>'
      });