@import "common.css"
@import "iconfont/iconfont.css"
@import "bootstrap.min.css"
@import "right-menu.css"

#menu
  display none
#out
  margin-left 0
.page-title
  display none
#content
  margin 0
body
  #wrapper
    padding-bottom 0
.panel
  margin-bottom 0
  .step
    width 100%
    margin 0 auto
    padding 0
    &.step-1
      background url("../images/2019-double-eleven/hot-afterSale/bg1.png") left top no-repeat
      background-size cover
    &.step-2
      background url("../images/2019-double-eleven/hot-afterSale/bg2.png") left top no-repeat
      background-size cover
    &.step-3
      background url("../images/2019-double-eleven/hot-afterSale/bg3.png") left top no-repeat
      background-size cover
    &.step-4
      background url("../images/2019-double-eleven/hot-afterSale/bg4.png") left top no-repeat
      background-size cover
    &.step-5
      background url("../images/2019-double-eleven/hot-afterSale/bg5.png") left top no-repeat
      background-size cover
    &.step-6
      background url("../images/2019-double-eleven/hot-afterSale/bg6.png") left top no-repeat
      background-size cover
    &.step-7
      background url("../images/2019-double-eleven/hot-afterSale/bg7.png") left top no-repeat
      background-size cover
    &.step-8
      background url("../images/2019-double-eleven/hot-afterSale/bg8.png") left top no-repeat
      background-size cover
    >img
      width 1200px
      display block
      margin 0 auto
.before, .after{
  position: absolute;
  top: 656px;
  text-align: center;
  width: 546px;
  margin: 0 auto;
  left: 0;
  right: 0;
  opacity: 0;
}
.before.flex, .after.flex{
  display: flex;
  justify-content: space-between;
  opacity: 1;
}
area
  cursor pointer